# Google Analytics
NEXT_PUBLIC_GA_ID=G-YS40780W8W

BREVO_API_KEY=

# URL racine de votre site
# Par défaut le code utilise https://kheopsetmotivation.com en production ou via vercel, 
# mais vous pouvez forcer l'URL ici si besoin pour le SEO et les images OpenGraph.
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# TARA MONEY
TARA_API_KEY=your-tara-api-key
TARA_BUSINESS_ID=AU5F57fcg2
TARA_WEBHOOK_SECRET=your-tara-webhook-secret