# Google Analytics
NEXT_PUBLIC_GA_ID=G-YS40780W8W

BREVO_API_KEY=

# URL racine de votre site
# Par défaut le code utilise https://kheopsetmotivation.com en production ou via vercel, 
# mais vous pouvez forcer l'URL ici si besoin pour le SEO et les images OpenGraph.
# NEXT_PUBLIC_APP_URL=https://kheopsetmotivation.com